# Backend
REACT_APP_API_URL=https://<apigw-id>.execute-api.ap-northeast-1.amazonaws.com/prod

# Cognito
REACT_APP_COGNITO_USER_POOL_ID=ap-northeast-1_XXXXXXXXX
REACT_APP_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxx

# Region/Stage
REACT_APP_REGION=ap-northeast-1
REACT_APP_STAGE=dev
